*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Tahoma",sans-serif;
    padding: 25px;
}
.bloc{
    max-width: 400px;
    margin: auto;
    background-color:#0d5ba3;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 0 7px #a9a8a8;
}
h1{
    color:#fff;
}
form{
    margin-top: 20px;
}
button{
    padding: 10px 20px;
}
   