* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.liens {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.liens a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding:10px 15px;
}

body {
  font-family: "Tahoma", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1, h2 {
  margin-bottom: 8px;
}

main {
margin: auto;
  padding: 14px;
  
}

section {
  margin-bottom: 30px;
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}



a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }

  table {
    width: 100%;
  }
}