*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    background-color: #e6d6b5;
}

section {
  background-color: #e6d6b5;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 5px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
  list-style: disc;
  margin-bottom: 5px;
}
